<?xml version="1.0"?>
<config>
	<modules>
		<CoolBlueWeb_RestrictedPage>
			<version>0.0.1.0</version>
		</CoolBlueWeb_RestrictedPage>
	</modules>
	<global>
		<models>
			<restricted_page>
				<class>CoolBlueWeb_RestrictedPage_Model</class>
			</restricted_page>
		</models>
		 <resources>
		 	<restricted_page_setup>
		 		<setup>
		 			<module>CoolBlueWeb_RestrictedPage</module>
		 		</setup>
		 		<connection>
		 			<use>core_setup</use>
		 		</connection>
		 	</restricted_page_setup>
		 </resources>
		<helpers>
			<restricted_page>
				<class>CoolBlueWeb_RestrictedPage_Helper</class>
			</restricted_page>
		</helpers>
		<blocks>
			<restricted_page>
				<class>CoolBlueWeb_RestrictedPage_Block</class>
			</restricted_page>
		</blocks>
		<events>
			<controller_action_predispatch_cms>
				<observers>
					<restricted_page>
						<type>singleton</type>
						<class>restricted_page/observer</class>
						<method>canAccessPage</method>
					</restricted_page>
				</observers>
			</controller_action_predispatch_cms>
			<adminhtml_cms_page_edit_tab_content_prepare_form>
                <observers>
                    <atwix_page_edit_tab_content>
                        <type>singleton</type>
						<class>restricted_page/observer</class>
                        <method>addCmsFields</method>
                    </atwix_page_edit_tab_content>
                </observers>
            </adminhtml_cms_page_edit_tab_content_prepare_form>
		</events>
	</global>
	<frontend>
		<routers>
			<restricted_page>
				<use>standard</use>
				<args>
					<module>CoolBlueWeb_RestrictedPage</module>
					<frontName>restricted_page</frontName>
				</args>
			</restricted_page>
		</routers>
		<layout>
			<updates>
				<restricted_page>
					<file>coolblueweb_restricted_page.xml</file>
				</restricted_page>
			</updates>
		</layout>
	</frontend>
</config>